<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huo.nest">

    <application>
        <activity android:name=".button.TwoButtonEventActivity"></activity>
        <activity android:name=".behavior.BehaviorTestActivity" />
        <activity android:name=".EventNestedActivity" />
    </application>

</manifest>